 @import "bootstrap";

 body{
  background: image_url("sayagata-400px.png")
 }

 .navbar{
  box-shadow: 0px 4px 10px 2px #8e7d7d;
 }

 .navbar-inverse .navbar-brand{
  font-family: "2-Questa_Regular", sans-serif;
  font-size: 30px;
 }

 .hero {
  background: image_url("hero.jpg");
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #294752;
 }

h1, h2, h3, h4, h5, h6, .navbar{
  margin: 0;
}

.frosty{
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.frosty h1{
  font-family:"Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(255, 255, 255, 0.95) 1px 1px ;
}

.frosty h2{
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(255, 255, 255, 0.95) 1px 1px ;
}

.btn {
  border-radius: 0;
}